.side-bar
  .side-bar__header
    .side-bar__header__username
      .side-bar__header__username__left
        小川
      .side-bar__header__username__right
      = link_to"#",class:"side-bar__header__username__right" do
        = icon('far', 'edit',class:'post')
        = icon('fas', 'cog',class:'set')
        
  .side-bar__group-list
    .side-bar__group-list__name
      .side-bar__group-list__name__teamname
        チーム
      .side-bar__group-list__name__new
        まだメッセージがありません
